/********** body style **********/

body {
    font-family: Arial, sans-serif!important;
}

.correct {
    width: 97%;
    margin: auto;
}

/********** header style **********/

.upper_head {
    height: 35px;
}

nav {
    height: 65px;
}

nav .container, .container-fluid {
    width: 97%!important;
}

.container_100 {
    width: 100%;
}

.px_auto {
    padding: 0 calc(12px + 1.5%);
}

.bg_black {
    background-color: black;
}

/* Banner returnal style */

.banner {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center top;
    ;
}

.returnal {
    background-image: url(./img/jumbo-bg.png)
}

/* Banner it2 style */

.it2 {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
}

/* Banner ps plus style */

.banner_ps_plus {
    width: 100%;
}

/* utilities */

.mt_100 {
    margin-top: 100px;
}

.mt_75 {
    margin-top: 75px;
}

.mt_40 {
    margin-top: 40px;
}

.rounded {
    border-radius: 20px!important;
    border: none;
}

.orange {
    background-color: #cd3d0f;
}

.celeste {
    color: #308cd7!important;
    font-weight: bold;
}

.highlight {
    border-bottom: 2px solid #308cd7!important;
}

.bg_dark {
    background-color: #1f1f1f;
}

.bg_gray {
    background-color: #bebcbb;
}

.bg_lightgray {
    background-color: #d9dadc!important;
}

.bg_f5 {
    background-color: #f5f5f5!important;
}

.bg_darkblue {
    background-color: #161c3b;
}

.bg_blue {
    background-color: #00439c;
}

.selected {
    height: calc(100% + 8px);
    width: calc(100% - 8px);
    border: 2px solid #308cd7;
    bottom: -4px;
    right: 4px;
}

/* Media Queries */

@media screen and (min-width:1200px) {
    .returnal .card, .it2 .card {
        width: 38%!important;
    }
}