/********** body style **********/

body {
    font-family: Arial, sans-serif!important;
}

.correct {
    width: 97%;
    margin: auto;
}

/********** header style **********/

.upper_head {
    height: 35px;
}

nav {
    height: 65px;
}

nav .container, .container-fluid {
    width: 98%!important;
}

.bg_black {
    background-color: black;
}

/* Banner returnal style */

.banner {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center top;
    ;
}

.returnal {
    background-image: url(./img/jumbo-bg.png)
}

/* Banner it2 style */

.it2 {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
}

/* Banner ps plus style */

.banner_ps_plus {
    width: 100%;
    height: 400px;
}

/* utilities */

.mt_100 {
    margin-top: 100px;
}

.bottom_mod {
    bottom: 30px
}

.rounded {
    border-radius: 20px!important;
    border: none;
}

.orange {
    background-color: #cd3d0f;
}

.celeste {
    color: #308cd7!important;
    font-weight: bold;
}

.highlight {
    border-bottom: 2px solid #308cd7!important;
}

.bg_dark {
    background-color: #1f1f1f;
}

/* Media Queries */

@media screen and (min-width:1200px) {
    .returnal .card, .it2 .card {
        width: 38%!important;
    }
}